<div>
  <p style="color: green"><%= notice %></p>

<%= link_to "New recipe", new_recipe_path, class: "btn btn-success" %>
<br> <br>

  <div id="recipes">
    <% @recipes.each do |recipe| %>
    <div class="d-flex justify-content-between border p-3 mb-3 w-50">
    <div class="w-35">
      <p><%= link_to recipe.name, recipe_path(recipe) %></p>
      <div class="d-flex">
        <%= link_to "View", recipe_path(recipe), class: "btn btn-primary me-2" %>
        <%= link_to "Remove", recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      </div>
    </div>
    <div>
      <p><%= recipe.description %></p>
    </div>
</div>
      <% end %>
  </div>
</div>