<div>
<h1 class="food_title">Public Recipes</h1> </br>

<% @recipes.each do |recipe| %>
  <%= link_to recipe_path(recipe.id), class:"public_recipes" do %> 
   <div class="row border p-3 mb-3">
  <div class="col-md-6">
    <ul class="list-unstyled mb-0">
      <li><h4><%= recipe.name %></h4></li>
      <li>by <%= recipe.user.email %></li>
    </ul>
  </div>
  <% if can? :manage, recipe %>
  <div class="col-md-6">
    <ul class="list-unstyled mb-0">
      <li>Total food items: <%= recipe.recipe_foods.count %></li>
      <li>Total price: $<%= recipe.total_cost %></li>
    </ul>
  </div>
<% end %>
</div>
  <% end %>
  <% end %>
</div>