<%= form_with model: @recipe_food, url: recipe_recipe_foods_path(recipe_id: @recipe.id), class: "new-recipe" do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.submit 'Add Food', class: "btn btn-secondary" %>
  </div>
<% end %>
<span class="msg error"><%= flash[:error] %></span>